@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

:root {
    scrollbar-color: theme("colors.slate.500") transparent;
}

body {
    @apply prose prose-slate dark:bg-slate-900 dark:prose-invert;
    @apply flex flex-col justify-center relative min-w-full;
}

#content {
    margin: 0 auto;
    @apply container min-h-screen relative mx-auto px-2 py-5;
}

/* Text  */
.subtitle {
    margin-top: -1rem;
    @apply text-3xl;
}

.underline {
    text-decoration: underline;
}

.TODO, .todo {
    @apply text-orange-300;
}

.DONE, .done {
    @apply text-slate-400;
}

.footdef sup {
    top: 0;
    font-size: 100%;
    position: unset;
}

.footdef sup::after {
    content: ": ";
}

div.footpara p.footpara:first-child {
    margin-top: 0;
}

/* Definition Lists */
dt {
    @apply font-bold;
}

dt::after {
    content: ": ";
}

dd {
    @apply ml-8;
}

/* Footnotes */
a.footref {
    text-decoration: none;
}

a.footref::before {
    content: "[";
}

a.footref::after {
    content: "]";
}

/* Checkboxes  */
input[type="checkbox"] {
    appearance: none;
    padding: 0;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: theme("spacing.4");
    width: theme("spacing.4");
    border-color: theme("colors.slate.500");
    --tw-shadow: 0 0 #0000;
    @apply border;
}

.on input[type="checkbox"],
.trans input[type="checkbox"] {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.on input[type="checkbox"] {
    @apply box-checked;
}

.trans input[type="checkbox"] {
    @apply box-trans;
}

.off input[type="checkbox"] {
}

/* Blocks */
.org-center {
    @apply text-center;
}

/* Syntax Highlighting */
.org-src-container code {
}

.code-warning,
.code-preprocesor {
    @apply text-orange-400;
}

.code-function-name {
    @apply text-purple-400;
}

.code-variable-name,
.code-constant {
    @apply text-blue-400;
}

.code-keyword,
.code-type,
.code-tuareg-font-lock-governing {
    @apply text-orange-400;
}

.code-comment,
.code-comment-delimiter,
.code-doc {
    @apply text-slate-400;
}

.code-builtin {
    @apply text-amber-400;
}

.code-string {
    @apply text-sky-300;
}

.code-error {
    @apply text-rose-700;
}

.code-success {
    @apply text-lime-400;
}
